<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app">
  <!-- in order to work, we have to declare the controllers in app.js -->
  <ion-pane  >
    <ion-content class="padding" ng-controller="Ctrl">
      <!-- There are no controllers here, we are on root scope -->
      <label class="item item-input">
        <span class="input-label">RootScope</span>
        <input type="text" ng-model="msg" placeholder="Enter message to change all inputs">
      </label>

      <div ng-controller='ChildCtrl'>
        <!-- ChildCtrl inherits scope from $rootScope -->
        <label class="item item-input">
          <span class="input-label">ChildScope</span>
          <input type="text" ng-model="msg" placeholder="Enter message to change input bellow">
        </label>

        <div ng-controller='GrandChildCtrl'>
          <!-- GrandChildCtrl inherits scope from ChildCtrl  -->
          <label class="item item-input">
            <span class="input-label">GrandChildScope</span>
            <input type="text"  ng-model="msg" placeholder="Enter message to change just this input">
          </label>
        </div>
      </div>
      <button class="button button-block button-large button-balanced" ng-click="Reset()">Reset</button>
    </ion-content>
    <!--<button class="button button-block button-large button-balanced" ng-click="Reset()">Reset</button>-->
  </ion-pane>
  </body>
</html>
